* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-image: url("../images/ep_naturalwhite.png");
}

header {
	background-color: #fff;
	overflow: auto;
	border-bottom: solid;
	border-color: #ccc;
}

h1 {
	background-color: #4aaaa5;
	color: #fff;
	float: left;
	font-family: "Georgia", Times, Times New Roman, serif;
	margin-bottom: 0;
}

.menu {
	float: right;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

.container {
	margin: 0 auto;
	clear: both;
	overflow: auto;
}

#aboutMe {
	float: left;
	width: 45%;
	border-style: solid;
	border-color: #ddd;
	background-color: #fff;
}

#connectWithMe {
	float: right;
	border-style: solid;
	border-color: #ddd;
	background-color: #fff;

}

h2 {
	color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	border-bottom: solid;
	border-color: #ccc;

}

p {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

footer {
	clear: both;
	background-color: #666;
	text-align: center;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #ccc;
	position: fixed;
	bottom: 0;
	width: 100%;
}

img {
	float: left;
	width: 20%;
}